.highlighted {
  border-bottom: 3px solid white !important;
}

.container {
  display: flex;
}

.lefthalf {
  background-color: inherit;
  flex: 1;
  padding: 1rem;
}

.righthalf {
  background-color: inherit;
  flex: 1;
  padding: 1rem;
}
